.check{
    display: block;
    background-image: url(checkbox.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 220px;
    background-position: -19px;
}

.check:hover{
    background-position: -86px;
}
.check:active{
    background-position: -150px;
}
